<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Registration Form</title>
    <style type="text/css">
        .Titulo {
            font-size: 13px;
            font-weight: bold;
        }

        body {
            font-size: 9px;
            font-family: Tahoma;
        }

        table {
            font-size: 9px;
            font-family: Tahoma;
        }

        .fontGray {
            color: #c2c2c2;
        }

        .fontRed {
            color: red;
        }

        .style1 {
            
        }

        .style2 {
            font-weight: bold;
        }

        .borderTable {
            border: 1px solid #29277E;
            padding: 5px 5px 5px 5px;
        }
        .tblMargin {
         margin-left:5px;
         margin-right:5px;

                }
        .tblBorder {
            border: 1px solid black;
        }

        table.tblBorder td  {
            border: 1px solid black;
        }
        .sizelar {
         font-size:18px;
         font-weight:bold;
        }
		
		.under 
		{
			border-bottom: 1pt solid black;
		}
		
		.dotted {
            border: 1px dotted black;
        }

    </style>
</head>
<body style="margin-top: 0px; margin-left: 0px; margin-bottom: 0px;">
	 <table cellspacing="0" cellpading="0" border="0" style="margin: 0px;"  width="100%">
		<tr>
			<td align="center" rowspan="3" width="40px">
				<img alt="" src="_UrlAPP_/images/logo.png" width="75px" />
			</td>
			<td align="center" class="Titulo">
				CONTRA DIESEL INC.
			</td>
		</tr>
		<tr>
			<td align="center">
				2003 N Veterans Blvd. Unit 11, San Juan, TX 78589
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table width="100%" >
					<tr height="15px">
						<td width="300px">
						</td>
						<td style="text-align:right">
							Order No.
						</td>
						<td class="under" align="center" style="text-align:center">
							_StockHistoryID
						</td>					
					</tr>
					<tr height="15px" >
						<td width="300px">
						</td>
						<td style="text-align:right">
							Date:
						</td>
						<td class="under" style="text-align:center">
							_AuditDateShort
						</td>					
					</tr>
				</table>
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table class="borderTable" width="100%">
		 <tr>
            <td align="top" colspan=6 style="text-decoration:underline; text-align:center; font-weight:bold;">
				CUSTOMER
				<br />
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
       <tr height="25px">
            <td width="10%">
				Name:
			</td>
			<td width="30%" class="under">
				_Customer
			</td>
            <td width="10%">
				Address:
			</td>
			<td  width="50%" colspan=3 class="under">
				_AddressComplete
			</td>
        </tr>
        <tr height="25px">
            <td width="10%">
				Delivered by:
			</td>
			<td  width="30%" class="under">
				_ContactName
			</td>
            <td  width="10%">
				Office phone:
			</td>
			<td width="20%" class="under">
				_Phone
			</td>
            <td width="10%">
				Cell phone:
			</td>
			<td width="20%" class="under">
				_ContactPhone
			</td>
        </tr>
		<tr><td>&nbsp;</td></tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table class="borderTable" width="100%">
		 <tr>
            <td align="top" colspan=6 style="text-decoration:underline; text-align:center; font-weight:bold;">
				PRODUCT
				<br />
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
        <tr height="25px">
            <td width="10%">
				Stock ID:
			</td>
			<td width="20%" class="under">
				_StockNum
			</td>
        </tr>
        <tr height="25px">
            <td width="100px">
				Category:
			</td>
			<td width="20%" class="under">
				_Category
			</td>
            <td width="100px">
				Brand:
			</td>
			<td width="20%" class="under">
				_Brand
			</td>
            <td width="100px">
				Model:
			</td>
			<td width="30%" class="under">
				_ModelName
			</td>
        </tr>
        <tr height="50px">
            <td width="100px">
				Diagnostic:
			</td>
			<td colspan=5 class="dotted">
				_Notes
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table width="100%">
		 <tr>
            <td width="15%">
				&nbsp;
			</td>
			<td  width="28%" class="under">
				&nbsp;
			</td>
            <td width="15%">
				&nbsp;
			</td>
			<td  width="27%" class="under">
				&nbsp;
			</td>
            <td width="15%">
				&nbsp;
			</td>
        </tr>
		 <tr>
            <td>
				&nbsp;
			</td>
			<td align="center">
				_ContactName
			</td>
            <td>
				&nbsp;
			</td>
			<td align="center">
				_UserName
			</td>
            <td>
				&nbsp;
			</td>
        </tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>	 
	<table width="100%">
		 <tr>
            <td> SERVICE MONDAY TO FRIDAY FROM 8 AM TO 6 PM    - (956) 662-4025
			</td>
		</tr>
	</table>	
	
	
	
	 <table width="100%">
		 <tr>
            <td height="50px"> 
				<hr/ >
			</td>
		</tr>
	</table>
	 <table cellspacing="0" cellpading="0" border="0" style="margin: 0px;"  width="100%">
		<tr>
			<td align="center" rowspan="3" width="40px">
				<img alt="" src="_UrlAPP_/images/logo.png" width="75px" />
			</td>
			<td align="center" class="Titulo">
				CONTRA DIESEL INC.
			</td>
		</tr>
		<tr>
			<td align="center">
				2003 N Veterans Blvd. Unit 11, San Juan, TX 78589
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table width="100%" >
					<tr height="15px">
						<td width="300px">
						</td>
						<td style="text-align:right">
							Order No.
						</td>
						<td class="under" align="center" style="text-align:center">
							_StockHistoryID
						</td>					
					</tr>
					<tr height="15px" >
						<td width="300px">
						</td>
						<td style="text-align:right">
							Date:
						</td>
						<td class="under" style="text-align:center">
							_AuditDateShort
						</td>					
					</tr>
				</table>
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table class="borderTable" width="100%">
		 <tr>
            <td align="top" colspan=6 style="text-decoration:underline; text-align:center; font-weight:bold;">
				CUSTOMER
				<br />
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
       <tr height="25px">
            <td width="10%">
				Name:
			</td>
			<td width="30%" class="under">
				_Customer
			</td>
            <td width="10%">
				Address:
			</td>
			<td  width="50%" colspan=3 class="under">
				_AddressComplete
			</td>
        </tr>
        <tr height="25px">
            <td width="10%">
				Delivered by:
			</td>
			<td  width="30%" class="under">
				_ContactName
			</td>
            <td  width="10%">
				Office phone:
			</td>
			<td width="20%" class="under">
				_Phone
			</td>
            <td width="10%">
				Cell phone:
			</td>
			<td width="20%" class="under">
				_ContactPhone
			</td>
        </tr>
		<tr><td>&nbsp;</td></tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table class="borderTable" width="100%">
		 <tr>
            <td align="top" colspan=6 style="text-decoration:underline; text-align:center; font-weight:bold;">
				PRODUCT
				<br />
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
        <tr height="25px">
            <td width="10%">
				Stock ID:
			</td>
			<td width="20%" class="under">
				_StockNum
			</td>
        </tr>
        <tr height="25px">
            <td width="100px">
				Category:
			</td>
			<td width="20%" class="under">
				_Category
			</td>
            <td width="100px">
				Brand:
			</td>
			<td width="20%" class="under">
				_Brand
			</td>
            <td width="100px">
				Model:
			</td>
			<td width="30%" class="under">
				_ModelName
			</td>
        </tr>
        <tr height="50px">
            <td width="100px">
				Diagnostic:
			</td>
			<td colspan=5 class="dotted">
				_Notes
			</td>
		</tr>
		<tr><td>&nbsp;</td></tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>
    <table width="100%">
		 <tr>
            <td width="15%">
				&nbsp;
			</td>
			<td  width="28%" class="under">
				&nbsp;
			</td>
            <td width="15%">
				&nbsp;
			</td>
			<td  width="27%" class="under">
				&nbsp;
			</td>
            <td width="15%">
				&nbsp;
			</td>
        </tr>
		 <tr>
            <td>
				&nbsp;
			</td>
			<td align="center">
				_ContactName
			</td>
            <td>
				&nbsp;
			</td>
			<td align="center">
				_UserName
			</td>
            <td>
				&nbsp;
			</td>
        </tr>
    </table>
	 <table width="100%">
		 <tr>
            <td> &nbsp;
			</td>
		</tr>
	</table>	 
	<table width="100%">
		 <tr>
            <td> SERVICE MONDAY TO FRIDAY FROM 8 AM TO 6 PM    - (956) 662-4025
			</td>
		</tr>
	</table>	
	
</body>
</html>
