<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style type="text/css">
        .Titulo {
            font-size: 13px;
            font-weight: bold;
        }

        body {
            font-size: 9px;
            font-family: Tahoma;
        }

        table {
            font-size: 9px;
            font-family: Tahoma;
        }

        .fontGray {
            color: #c2c2c2;
        }

        .fontRed {
            color: red;
        }

        .style1 {
            
        }

        .style2 {
            font-weight: bold;
        }

        .borderTable {
            border: 1px solid #29277E;
            padding: 5px 5px 5px 5px;
        }
        .tblMargin {
         margin-left:5px;
         margin-right:5px;

                }
        .tblBorder {
            border: 1px solid black;
        }

        table.tblBorder td  {
            border: 1px solid black;
        }
        .sizelar {
         font-size:18px;
         font-weight:bold;
        }

    </style>
</head>
<body style="margin-top: 0px; margin-left: 0px; margin-bottom: 0px;">
    <table class="borderTable" width="100%">
        <tr>
            <td width="20%" valign="top">
                <table width="100%">
                    <tr>
                        <td class="style2" width="50%">Unit ID:
                        </td>
                        <td class="style1 sizelar" width="50%">_NumUnidad
                        </td>
                    </tr>
                    <tr>
                        <td class="style2" width="50%">Miles:
                        </td>
                        <td class="style1" width="50%">_Millas
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" valign="top">
               <table width="100%">
                    <tr>
                        <td class="style2" width="40%">Service Order:
                        </td>
                        <td class="style1" width="60%">_NumOrdenServicio
                        </td>
                    </tr>
                    <tr>
                        <td class="style2" width="40%">Service:
                        </td>
                        <td class="style1" width="60%">_NombreServicio
                        </td>
                    </tr>
                     <tr>
                        <td class="style2" width="40%">Mechanic:
                        </td>
                        <td class="style1" width="60%">_NombreMecanico
                        </td>
                    </tr>
                </table>
            </td>
            <td width="30%" valign="top">
                <table width="100%">
                    <tr>
                        <td class="style2" width="50%">Date Order Service:
                        </td>
                        <td class="style1" width="50%">_FechaOrdenServicio
                        </td>
                    </tr>
                    <tr>
                        <td class="style2" width="50%">Time:
                        </td>
                        <td class="style1" width="50%">_TiempoTarea
                        </td>
                    </tr>
                </table>
            </td>
            <td width="20%" valign="top">
                <div>
                    <img alt="" src="_UrlAPP_images/logo-rapid.png" width="120px" />
                </div>
            </td>
        </tr>
    </table>
    <table cellspacing="0" cellpading="0" border="0" style="margin: 0px;" width="50%">
        <tr>
            <td colspan="2">&nbsp;
                 <br />
                &nbsp;
            </td>
        </tr>
    </table>
    <br />
    <table cellspacing="0" cellpading="0">
        <tr>
            <td>
                <table style="width: 100%; color:#fff; border:1px solid #333; background-color: #ED1C24">
                    <tr>
                        <td style="width: 70%;"></td>
                        <td style="width: 15%; text-align: center;">Ok
                        </td>
                        <td style="width: 15%; text-align: center;">Repair/
                            <br />Replace
                        </td>
                    </tr>
                </table>
            </td>
            <td width="1%">&nbsp;</td>
            <td>
                <table style="width: 100%; color:#fff;  border:1px solid #333;  background-color: #ED1C24">
                    <tr>
                        <td style="width: 70%;"></td>
                        <td style="width: 15%; text-align: center;">Ok
                        </td>
                        <td style="width: 15%; text-align: center;">Repair/
                            <br />Replace
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td valign="top">
                <table class="tblBorder tblMargin" width="100%">
                    <tr>
                        <td class="Titulo">INTERIOR
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionInterior   
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="Titulo">EMERGENCY LIGHTNING
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionLightning
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="Titulo">TRUCK FRONT
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionTruckFront
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="Titulo">SECURITY CHECK FOR CONTRABAND
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionSecurity
                            <br />
                        </td>
                    </tr>
                </table>
            </td>
             <td width="1%">&nbsp;</td>
            <td valign="top">
                 <table class="tblBorder tblMargin" width="100%">
                    <tr>
                        <td class="Titulo">EMERGENCY EQUIPMENT
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionEquipment
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="Titulo">ELECTRICAL
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionElectrical
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td class="Titulo">TRUCK REAR
                        </td>
                    </tr>
                    <tr>
                        <td>_ClasificacionTruckRear
                            <br />
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
