<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxRequestLength="51457280" />
    <pages styleSheetTheme="default" />
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="51457280" />
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="Host" value="https://localhost/"/>
    <add key="URL" value="https://localhost:44370/"/>
    <!--

    <add key="Host" value="https://localhost/"/>
    <add key="URL" value="https://localhost:44370/"/>
    
        
    <add key="Host" value="https://turboflow.azurewebsites.net/"/>
    <add key="URL" value="https://turboflow.azurewebsites.net/"/>

    -->
    <add key="PathImages" value="Temporal\Images\" />
    <add key="UploadSessionName" value="UploadGP" />
    <add key="PathFiles" value="Temporal\Files\" />
    <add key="UploadPath" value="..\Uploads\" />
    <!-- Azure accounts -->
    <add key="PathImagesStorageAzure" value="TemporalAzure\Images\" />
    <add key="AzurePath" value="rapidapp/Container/" />
    <add key="ConnectionString" value="DefaultEndpointsProtocol=https;AccountName=rapidkardex;AccountKey=oizGsMmbCleTFjDq/K4VrDkLLZMixoC0YvF+U3I+RzLQ9xuYMZWMjgNaeo9zj9+uE7qQiXWNrRTXwgIcDWm8mg==;EndpointSuffix=core.windows.net" />
    <add key="ConnectionString2" value="DefaultEndpointsProtocol=https;AccountName=rapidkardex;AccountKey=ioJjL7nzi5zk7i6bJsOY30J7d29LOuy/hfMfLwPKvfaaUcBCJ/JGzDRaZImOL0MBCAp/Re6mw7xUqWozkM1o5A==;EndpointSuffix=core.windows.net" />
    <!-- Azure accounts -->
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Conexion" connectionString="Database=ContraDiesel-TurboFlow;Server=thinksolutions.database.windows.net;User ID=tsadmin; Password=Ts#6311549;Connect Timeout=15; Column Encryption Setting=enabled" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.5.6.0" newVersion="5.5.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>